<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>コンフィグレーション</title>
	</properties>
	<body>
		<section name="目次">
			<ul>
				<li><p><a href="config-ra.html">リソースアダプタ</a></p>
					<ul>
						<li><p><a href="config-ra.html#概要">概要</a></p></li>
						<li><p><a href="config-ra.html#リソースアダプタの設定">リソースアダプタの設定</a></p>
							<ul>
								<li><p><a href="config-ra.html#ResourceAdapterDeployer">ResourceAdapterDeployer</a></p></li>
								<li><p><a href="config-ra.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-ra.html#スレッドプールの設定">スレッドプールの設定</a></p>
							<ul>
								<li><p><a href="config-ra.html#BootstrapContext">BootstrapContext</a></p></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><p><a href="config-outbound.html">アウトバウンド情報</a></p>
					<ul>
						<li><p><a href="config-outbound.html#概要">概要</a></p></li>
						<li><p><a href="config-outbound.html#ManagedConnectionFactoryDeployer">ManagedConnectionFactoryDeployer</a></p>
							<ul>
								<li><p><a href="config-outbound.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-outbound.html#コネクションファクトリ">コネクションファクトリ</a></p></li>
					</ul>
				</li>
				<li><p><a href="config-inbound.html">インバウンド情報</a></p>
					<ul>
						<li><p><a href="config-inbound.html#概要">概要</a></p></li>
						<li><p><a href="config-inbound.html#ActivationSpecDeployer">ActivationSpecDeployer</a></p>
							<ul>
								<li><p><a href="config-inbound.html#リソースアダプタ固有のプロパティ">リソースアダプタ固有のプロパティ</a></p></li>
							</ul>
						</li>
						<li><p><a href="config-inbound.html#MessageEndpointFactory">MessageEndpointFactory</a></p></li>
					</ul>
				</li>
			</ul>
		</section>
	</body>
</document>
